* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: white;
    --color-gray: #F0F2F5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

img {
    width: 320px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.content-info {
    width: 600px;
}

.content-login {
    width: 350px;
}